.brand-link{
    list-style-type: none;
}

a{
    color: white;
}

/* Define the active class styles */
// .active {
//     background-color: #FDE635; 
//     color: black; 
//   }


  
  nav ul li p{
    color: #fff;
    
    font-size: 14px;
  }
  /* Style for the sidebar container */
  
  .main-sidebar{
    background-color: #0C435A !important;
  }

  img{
    border-radius: 5px;
  }

