<!-- <a routerLink="/login">Login</a> -->
<!-- <router-outlet></router-outlet> -->


<div class="wrapper">

        <!-- <ngx-ui-loader fgsColor="#FFBF00" pbColor="#FFBF00"></ngx-ui-loader> -->
        <ngx-ui-loader [bgsColor]="'#FFBF00'" [bgsSize]="90" [overlayColor]="'rgba(255,255,255,0.87)'" [fgsSize]="90" [hasProgressBar]="false" [pbColor]="'#FFBF00'" [bgsSize]="60" [bgsType]="'circle'" [fgsColor]="'#FFBF00'" [fgsSize]="60" [fgsType]="'three-strings'"></ngx-ui-loader>

        <router-outlet></router-outlet>
          
      
    <!-- /.content-wrapper -->
    <!-- <footer class="main-footer">
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
      </div>
    </footer> -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>