<div class="row card-box">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mt-2 mb-3">Edit Teacher </h2>
      </div>
      <form #f="ngForm" (ngSubmit)="f.form.valid && create(f)">
        <div class="custom-Tabs">
          <!-- <div class="task-bar">
            <div class="card">
              <div class="card-body">
                <div class="tabs-bar">
                  <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#home" (click)="activityType = 'home'" role="tab" aria-controls="home" aria-selected="false">Teacher Information</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <div *ngIf="activityType == 'home'" class="card mb-4 tab-pane fade show active" id="home" role="tabpanel">
            <div class="card-header"> Teacher Info </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-12">

                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Registration Date</mat-label>
                            <input matInput [matDatepicker]="rd" [min]="lessDate" [max]="maxDate" required placeholder="Registraion Date" name="registrationDate" (click)="rd.open()" [(ngModel)]="model.registrationDate" #RegistrationDate="ngModel" readonly>
                            <mat-datepicker-toggle matSuffix [for]="rd"></mat-datepicker-toggle>
                            <mat-datepicker #rd startView="month"></mat-datepicker>
                          </mat-form-field>
                        </div>

                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Experience in years </mat-label>
                            <input matInput type="text" required name="experience_in_years" (keydown)="onlyDecimalNumberKey($event)" placeholder="Experience in Years" [(ngModel)]="model.experience_in_years" #experience_in_years="ngModel">
                          </mat-form-field>
                        </div>

                        <div class="col-md-2 mb-3">
                          <mat-checkbox [(ngModel)]="model.status" name="citizen" (change)="isActive($event)" [checked]="true" [ngModelOptions]="{standalone: true}">
                          </mat-checkbox>
                          <span class="mt-1">Teacher Active</span> 
                        </div>

                      
                      </div>

                      <div class="row">

                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" name="firstName" placeholder="First Name" [required]="true" minlength="3" [(ngModel)]="model.firstName" #firstName="ngModel">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" required name="lastName" minlength="3" placeholder="Last Name" [(ngModel)]="model.lastName" #lastName="ngModel">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Date Of Birth</mat-label>
                            <input matInput [matDatepicker]="dp" required placeholder="Date Of Birth" name="dateOfBirth" (click)="dp.open()" [(ngModel)]="model.dateOfBirth" #dateOfBirth="ngModel" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="month"></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Place of Birth</mat-label>
                            <input matInput type="text" required name="stuPlaceOfBirth" placeholder="Birth Place" [(ngModel)]="model.placeOfBirth" #stuPlaceOfBirth="ngModel">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Phone</mat-label>
                            <input matInput type="text"
                             required name="number" (keydown)="onlyDecimalNumberKey($event)" maxlength="15" minlength="7" placeholder="Number" [(ngModel)]="model.phone" #number="ngModel">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" name="email" pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$' placeholder="email.." [(ngModel)]="model.email" #stuyEmail="ngModel">
                          </mat-form-field>
                        </div>
                        

                        <div class="col-sm-4 customDropList">
                          <div class="mlty-lable form-group  custom-multi-selector multi-select-margin accountNumber-section" id="country-id">
                            
                            <ng-select [items]="bloodGroupArray" labelForId="one" [(ngModel)]="model.bloodGroup" bindLabel="name" placeholder="Blood Group" [closeOnSelect]="true" [hideSelected]="true" [searchable]="true" [clearable]="true" name="blood" class="custom"></ng-select>
                            <p>
                              {{model.blooooood | json}}
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-4 customDropList">
                          <div class="mlty-lable form-group  custom-multi-selector multi-select-margin accountNumber-section" id="country-id">
                            <ng-select [items]="religionArray" bindLabel="name" placeholder="Religion" appendTo="body" [multiple]="false" [searchable]="true" [clearable]="true" [(ngModel)]="model.religion" name="rel" class="custom"></ng-select>
                          </div>
                        </div>
                        <div class="col-sm-4 customDropList">
                          <div class="mlty-lable form-group  custom-multi-selector multi-select-margin accountNumber-section" id="country-id">
                            <ng-select [items]="genderArray" bindLabel="name" placeholder="Gender" appendTo="body" [multiple]="false" [searchable]="false" [clearable]="true" [(ngModel)]="model.gender" name="gen" class="custom"></ng-select>
                          </div>
                          <!-- <div *ngIf="f.submitted && Country.invalid"><div class="error-msg" [hidden]="!Country.errors.required">
                            This field is required
                          </div></div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ml-2 mb-3 mt-5">
              <div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary me-2">Update </button>
                  <button type="button" (click)="clearForm('teacher', f)" class="btn btn-danger me-2">Clear </button>
                  <button type="button" class="btn btn-dark me-2" tabindex="0" [routerLink]="['/teacher']">Cancel </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </form>
    </div>
  </div>