<div class="row card-box">
    <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="f.form.valid && create(f)">
        
            <div class="custom-Tabs">
          
                <div class="card mb-4 tab-pane fade show active" id="home" role="tabpanel">
                    <div class="card-header">
                        Fee
                    </div>
                    <div class="card-body">
                        <div class="row">
                        <div class="col-sm-12">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                            <div class="col-md-4">
                                                <!-- <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Amount</mat-label>
                                                    <input matInput type="text"
                                                    name="studentFee" (keydown)="onlyDecimalNumberKey($event)" placeholder="Amount" required  [(ngModel)]="studentFee"
                                                    #studentFee="ngModel" >
                                                </mat-form-field> -->
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Amount</mat-label>
                                                    <input matInput type="text" 
                                                    required
                                                    (keydown)="onlyDecimalNumberKey($event)"
                                                    name="studentFee" placeholder="Amount"  [(ngModel)]="studentFee"
                                                    #StudentFee="ngModel" >
                                                </mat-form-field>
                                            </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                    <div class="ml-2 mb-3 mt-5">
                        <div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary me-2">Update </button>
                                <button type="button" (click)="clearForm('fee')" class="btn btn-danger me-2">Clear </button>
                                <button type="button" class="btn btn-dark me-2" tabindex="0" [routerLink]="['/student']">Cancel </button>
                            </div>
                        </div>
                    </div>
                </div>

             
            </div>


        </form>        
     </div>
 </div>
 
